.wrapper {
	width: 1280px;
	margin: 0 auto;
}

.slider {
	width: 1280px;
	height: 720px;
	overflow: hidden;
	margin: 30px auto;
}

.slider img {
	width: 1280px;
	height: 720px;
	float: left;
	display: none;
}

a {
	padding: 5px 10px;
	background: black;
	margin-top: -30px;
	text-decoration: none;
	color: white;
}

a.left {
	float: left;
}

a.right {
	float: right;
}