.wrapper {
	width: 1280px;
	margin: 0 auto;
}

.bottomNav {
	display: block;
	width: 300px;
	margin: 0 auto;
	height: 35px;
}

.slider {
	width: 1280px;
	height: 720px;
	overflow: hidden;
	margin: 30px auto;
}

.slider img {
	width: 1280px;
	height: 720px;
	float: left;
	display: none;
}

a {
	padding: 5px 10px;
	background: white;
	margin-top: -30px;
	text-decoration: none;
	color: black;
}

a.left {
	display: inline-block;
}

a.right {
	
}

a.mid {
	
}

.bright-mode {
	background: black;
}

.arrow-mode {
	background: black;
	color: white;
}

.b-mode {
	color: green;
}

.radioNav {
	width: 80px;
	margin: 0 auto;
	display: inline-block;
}